.navbar {
    grid-area: n;
    background-color: #283142;
}

.imageholder {
    grid-area: l;
    margin: auto;
}

.navlinkholder {
    display: grid;
    grid-template-areas:
        "l r";
    grid-template-columns: 10fr 20fr;
    margin-top: 3%;

}

.navlinkholder a {
    text-decoration: none;
    font-size: 0.8em;
    color: white;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    margin-top: 5%;
}

.navlinkholder a:hover {
    color: white;
}

.navlinkholder a.active {
    color: #FB667A;
    margin-left: 10%;
}






